.cart_container{
    min-height: 1000px;
    background: #eeeeee;
}

.wrapper{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.cart{
    display: flex;
    align-items: center;
    width: 450px;
    margin: 10px;
    padding: 12px;
    border-bottom: 1px solid #dedede;
    background-color: #ffffff;
    border-radius: 4px;
}

.cart_image{
    width: 70px;
}

.qty_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 100px;
    border-radius: 25px;
    background-color: #eff0f2;
    font-size: 15px;
    cursor: pointer;
    transition: all 0.5s;
    margin: 10px auto;
  }
  .qty_btn:hover {
    background-color: #9d9fa3;
  }
  .qty_btn p {
    padding: 0 15px;
    font-weight: 700;
  }

  .last_buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }

  .cart_card{
      flex-grow: 1;
  }

  .deleteIcon{
    font-size:30px;
    color:red;
    margin-left: 10px;
    cursor: progress;
  }

  .cardfooter{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
    width: 70%;
    padding: 10px;
  }

  .cardfooter button{
    height: 40px;
    width: 100px;
    background-color: red;
    border: none;
    border-radius: 25px;
    font-size: 12px;
    color: #fff;
    cursor: pointer;
    transition: all 0.5s;
  }

  .go_back{
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
  }
